[submodule "landing"]
	path = landing
	url = https://github.com/skulumani/landing.git
[submodule "extern/pybind11"]
	path = extern/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "extern/libigl"]
	path = extern/libigl
	url = https://github.com/libigl/libigl.git
[submodule "extern/fdcl-hdf5"]
	path = extern/fdcl-hdf5
	url = https://github.com/skulumani/fdcl-hdf5.git
[submodule "examples/openmp_example"]
	path = examples/openmp_example
	url = git@github.com:fdcl-gwu/openmp_example.git
[submodule "examples/pybind_example"]
	path = examples/pybind_example
	url = git@github.com:fdcl-gwu/pybind_example.git
